site_name: Seed Tracker
site_description: Seed inventory system.
docs_dir: 'docs'
site_author: 'Robyn F H Veitch'
nav:
  - Home: index.md
  - Database Structure: database-structure.md
  
theme:
  name: 'material'
  features:
    - navigation.sections
    - navigation.path
    - navigation.instant
  include_sidebar: true
  palette:
    - scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    - scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

# extra_css:
  # - stylesheets/extra.css
  # - stylesheets/mermaid-panzoom.css

markdown_extensions:
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.tasklist:
      clickable_checkbox: true
  - admonition
  - codehilite:
      css_class: code
      use_pygments: false
      guess_lang: false
  - toc:
      permalink: true
  - pymdownx.tabbed
  - pymdownx.details
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - md_in_html

plugins:
  - drawio

extra_javascript:
  # - ../javascript/drawio.reload.js
  - https://cdn.jsdelivr.net/npm/svg-pan-zoom@3.6.1/dist/svg-pan-zoom.min.js
  # - ../javascript/mermaid-panzoom.js
